.container {
    display: flex;
    flex-grow: 1;
    margin-bottom: 2rem;
}

.container:last-of-type {
    margin-bottom: 0rem;
}

.profileContainer {
    margin-right: 1rem;
}

.profile {
    margin-top: 0.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;

    background-image: url('/profile_dummy.png');
    background-size: cover;
    background-position: center 0.115rem;
}
