.scanParameters {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10rem;
}

.scanParameters div {
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-right: 0.1rem solid black;
    background-color: var(--gray);

    transition: background-color 300ms ease;
}

.scanParameters div:hover {
    background-color: var(--gray-dark);
}

.scanParameters div:first-of-type {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

.scanParameters div:last-of-type {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border: none;
}

.scan {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
    margin-top: 1rem;
    border-radius: 1rem;
}

