.page {
    display: flex;
    height: 100vh;
}

.chatHistory {
    width: 15rem;
    background-color: var(--gray);
}

.content {
    display: flex;
    flex-grow: 1;
}

.chat {
    width: 100%;
    background-color: var(--white);
    border-right: 0.1rem solid var(--gray);
}

.diagnosis {
    width: 100%;
    background-color: var(--white);
}